.search-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 360px;
}

.search-form input[type="text"] {
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid lightgray;
  text-align: center;
  font-size: 18px;
}

.con-wrap {
  width: 95%;
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.resposive {
  width: 1250px;
}
@media screen and (max-width:1000px) {
    .con-wrap {
        overflow-x: scroll;
    }
}
.search-table {
  width: 100%;
}

thead {
  background-color: green;
}

th,
td {
  padding-block: 0.6rem;
  text-align: center;
  vertical-align: middle;
}

th:nth-child(3),
td:nth-child(3) {
  border-right: 2px solid black;
}

.txt-white {
  color: white;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
  font-weight: bold;
  color: white;
}

.fix {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weight {
  background-color: rgb(107, 106, 106);
  display: inline-block;
  font-size: 12px;
  padding: 1rem;
}
.link-s {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  margin-right: 0.5rem;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Requset {
  background-color: seagreen;
}

.NO-Price,
.NO-Mobis {
  background-color: red;
}

.part {
  width: 30px !important;
  height: 30px !important;
}

.weight {
  background-color: rgb(231, 98, 98);
  display: inline-block;
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.input-controll {
  display: flex;
  justify-content: center;
}

.input-controll label {
  padding-inline: 0.5rem;
}

.mobis {
  background-color: rgb(107, 106, 106);
  color: white;
}

#error {
  text-align: center;
  background-color: rgb(107, 106, 106);
  color: white;
  font-family: Vazir, sans-serif !important;
}

th {
  color: white;
}

.A {
  background-color: red;
}

.B {
  background-color: brown;
}

.part {
  width: 250px !important;
}

.dollar {
  width: 80px !important;
}

.social {
  width: 20px;
}

.action {
  width: 150px;
}

.kg {
  width: 50px;
}
