.search-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 360px;
}

.search-form input[type='text'] {
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid lightgray;
    text-align: center;
    font-size: 18px;
}

.resposive {
    width: 90%;
    padding-block: 2rem;
}

.search-table {
    width: 100%;
}

thead {
    background-color: green;
}

th,
td {
    padding-block:1rem;
    text-align: center;
}

th:nth-child(3),
td:nth-child(3) {
    border-right: 2px solid black;
}


.txt-white {
    color: white;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.weight {
    background-color: rgb(231, 98, 98);
    display: inline-block;
    font-size: 12px;
    padding: 1rem;
}